<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cтудент {{ student.first_name }}</title>
</head>
<body>
    <div class="container">
        <h1 class="display-6">Информация о студенте №{{ student.pk }}</h1>
        <div class="card bg-light p-3">
            <div class="fs-5">Имя: {{ student.first_name }}</div>
            <div class="fs-5">Фамилия: {{ student.last_name }}</div>
            <div class="fs-5">Направление: {{ student.direction.name }}</div>
        </div>
    </div>
</body>
</html>